button {
    background-color:#27ae60;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration:none;
    color:#fff;
    box-shadow: inset 0px 0px 0px #217e48, 0px 6px 0px #217e48;
    border-radius: 5px;
    border: none;
}

button:active{
    top:7px;
    box-shadow: inset 0px 1px 0px #217e48, inset 0px -1px 0px #217e48;
    color: #156785;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background-color:#27ae60;
}
