*{
    font-family: 'poppins','Times New Roman', 'serif';
}
html, body {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

header p{
    font-size: 1.5rem;
    margin:0;
}

#counterDisplay{
    text-align: center;
    padding: 24px;
}

#main{
    text-align: center;
}

#main h3{
    margin: 1rem 0;
    font-weight: 400;
}

.container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
    border-radius: 10px;
    padding:1rem;
    background-color: rgb(203, 206, 209)
}
.cardCounter{
    display:flex;
    flex: auto;
    flex-direction: column;
    background-color: whitesmoke;
    width: 25%;
    border-radius: 10px;
    margin: 0 10px;
}

.cardCounter > p{
    margin: 10px;
    padding:0;
}
.cardCounter #score{
    padding:5px;
    border-radius: 8px 8px 0 0;
    font-weight: bolder;
    color: white;
    background-color: #27ae60;
}
.cardCounter .emoji{
    margin: 1rem 0rem 0rem;
    font-size: 3rem;
}
.info{
    width: 200px;
    height: auto;
}
.choice{
    display:flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.emoji{
    font-size: 2rem;
    margin: 0rem 1rem;
}

footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}