*{
    font-family: 'Roboto','Times New Roman', 'serif';
}
html, body {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}
header p{
    font-size: 24px;
}

h1{
    font-weight: bold;
    font-size: 36px;
}

#counterDisplay{
    margin: 0 0 50px;
    background-color:grey;
    text-align: center;
    padding: 24px;
}
#main{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
.cardCounter{
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 200px;
    border-radius: 10px;
    margin: 0 10px;
}

.cardCounter > p{
    margin: 10px;
}
.cardCounter #score{
    padding:5px;
    border-radius: 8px 8px 0 0;
    font-weight: bolder;
    color: white;
    background-color: #6fba26;
}

.info{
    width: 200px;
    height: auto;
}
.choice{
    display:flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.emoji{
    font-size: 50px;
    margin: 16px;
}

footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}